# Data Types and Structures — Assignment Notebook

**Note:** This notebook keeps the question wording and order from assignment handout.  
All theory answers are detailed and include examples (with real-life scenarios where meaningful).  
All practical questions (numbered **1–30** exactly as in the assignment) include code **and** displayed outputs.

---

## Theory Questions and Answers

### 1) What are data structures, and why are they important?

**Answer:**  
A **data structure** is a way of organizing and storing data so it can be accessed and modified efficiently.  
They are important because the right structure makes programs **faster** (time complexity), use **less memory** (space complexity), and **easier to maintain**.

**Examples (real-life):**
- **Stack:** Like a stack of plates—last plate placed is the first removed (LIFO).  
- **Queue:** Like a ticket line—first person in is first out (FIFO).  
- **Dictionary/Hash map:** Like a phone book—quickly find a number given a name.

### 2) Explain the difference between mutable and immutable data types with examples.

**Answer:**  
- **Mutable types** can be changed *in place* after creation. Examples: `list`, `dict`, `set`.  
  ```python
  a = [1, 2]
  a.append(3)   # modifies the same list
  ```
- **Immutable types** cannot be changed after creation; any “change” creates a new object. Examples: `int`, `float`, `str`, `tuple`.  
  ```python
  s = "hi"
  s = s + "!"  # creates a new string object
  ```

**Real-life analogy:** A mutable whiteboard (you can erase and rewrite) versus an immutable printed receipt (cannot be altered).

### 3) What are the main differences between lists and tuples in Python?

**Answer:**  
- **List:** Mutable, typically homogeneous but can hold mixed types, supports frequent insertion/deletion and reordering.  
- **Tuple:** Immutable, often used for **fixed** collections or records.

**When to choose what:**  
- Use **list** when you need to **modify** items.  
- Use **tuple** when the collection should be **read-only** (e.g., geographic coordinates `(lat, lon)`).

### 4) Describe how dictionaries store data.

**Answer:**  
A Python **dictionary** stores data as key–value pairs using a **hash table** under the hood.  
- Keys are hashed to compute a slot (bucket index).  
- Values are stored alongside their keys.  
- Average **O(1)** lookup by key.

### 5) Why might you use a set instead of a list in Python?

**Answer:**  
Use a **set** for uniqueness and fast membership tests:  
- Automatically **removes duplicates**.  
- Average **O(1)** membership test with `in`.  
- Useful when you need to keep **unique IDs**, **unique emails**, etc.

### 6) What is a string in Python, and how is it different from a list?

**Answer:**  
A **string** is an **immutable** sequence of Unicode characters. A **list** is a **mutable** sequence of objects.  
- Strings: characters only, immutable.  
- Lists: can hold any Python objects, mutable.

**Example:**  
```python
s = "data"
# s[0] = 'D'  # Error: strings are immutable
lst = ['d', 'a', 't', 'a']
lst[0] = 'D'  # OK
```

### 7) How do tuples ensure data integrity in Python?

**Answer:**  
Because tuples are **immutable**, their content cannot be altered once created. This immutability helps ensure **data integrity**, especially when passing data into functions or using as **dict keys** (provided all elements are hashable).

### 8) What is a hash table, and how does it relate to dictionaries in Python?

**Answer:**  
A **hash table** maps keys to values via a **hash function** → **bucket index**.  
Python dictionaries are **hash-table–backed** maps, giving average **O(1)** insert/lookup/delete by key.

### 9) Can lists contain different data types in Python?

**Answer:**  
Yes. Lists can hold **heterogeneous** data:  
```python
mixed = [42, "hello", 3.14, {"k": "v"}, (1,2)]
```
This flexibility is often convenient for small tasks or prototyping.

### 10) Explain why strings are immutable in Python.

**Answer:**  
Strings are immutable for **safety** (no accidental sharing bugs), **hashability** (usable as dict keys), and **performance** (enables interning/optimizations). Any “change” creates a **new** string.

### 11) What advantages do dictionaries offer over lists for certain tasks?

**Answer:**  
Dictionaries provide **direct access by key** (average O(1)), making them ideal when you have **named fields** or **ID lookups**. Lists require scanning by position or value (often O(n)).

### 12) Describe a scenario where using a tuple would be preferable over a list.

**Answer (scenario):**  
Use a **tuple** for **fixed records** that shouldn’t change, e.g., `(latitude, longitude)`, `(day, month, year)`, or **RGB color** `(255, 128, 0)`. The immutability conveys **intent** and prevents accidental edits.

### 13) How do sets handle duplicate values in Python?

**Answer:**  
Sets enforce **uniqueness** automatically. Inserting a duplicate value has **no effect**:  
```python
s = {1, 1, 2}
# s is {1, 2}
```

### 14) How does the “in” keyword work differently for lists and dictionaries?

**Answer:**  
- For a **list**, `x in list` scans items **linearly** (O(n)).  
- For a **dictionary**, `k in dict` checks **keys** using hash lookup (average O(1)); it does **not** search values unless you explicitly check `x in dict.values()`.

### 15) Can you modify the elements of a tuple? Explain why or why not.

**Answer:**  
No—tuples are **immutable**. You cannot change or assign to `t[i]`. If you need modifications, create a **new** tuple or use a **list** instead.

### 16) What is a nested dictionary, and give an example of its use case.

**Answer:**  
A **nested dictionary** is a dict whose values are themselves dictionaries.  
**Use case:** Hierarchical data—e.g., students by ID, each with profile info.
```python
students = {
    "S101": {"name": "Asha", "age": 20, "dept": "CSE"},
    "S102": {"name": "Rahul", "age": 21, "dept": "ECE"},
}
```

### 17) Describe the time complexity of accessing elements in a dictionary.

**Answer:**  
Dictionary key access is **average O(1)** due to the underlying hash table.  
Worst-case can degrade toward **O(n)** (e.g., pathological hash collisions), but this is rare in practice.

### 18) In what situations are lists preferred over dictionaries?

**Answer:**  
Use **lists** when **order matters**, when you need **indexed positional access**, or when the data is a **sequence** without named keys—e.g., an ordered to-do list or a time series.

### 19) Why are dictionaries considered unordered, and how does that affect data retrieval?

**Answer:**  
Historically, dictionaries were **unordered** mappings. Modern Python preserves **insertion order** (CPython 3.7+), but conceptually a dict is about **key → value** mapping, not positional indexing. Retrieval is by **key**, not by the element’s position.

### 20) Explain the difference between a list and a dictionary in terms of data retrieval.

**Answer:**  
- **List:** Retrieve by **index** (position).  
- **Dictionary:** Retrieve by **key** (label).

**Example:**  
```python
names = ["Asha", "Rahul"]         # list: names[0]
age = {"Asha": 20, "Rahul": 21}   # dict: age["Asha"]
```

---

## Practical Questions (Coding)

### 1. Write a code to create a string with your name and print it.

In [ ]:
name_str = "Drishya Uniyal"
print(name_str)

Drishya Uniyal

### 2. Write a code to find the length of the string "Hello World".

In [ ]:
s = "Hello World"
print(len(s))

11

### 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
s = "Python Programming"
print(s[:3])  # 'Pyt'

Pyt

### 4. Write a code to convert the string "hello" to uppercase.

In [ ]:
print("hello".upper())

HELLO

### 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

### 6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

### 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

### 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

### 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

### 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

### 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

### 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t = (10, 20, 5, 15)
print(min(t))

5

### 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

### 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

### 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

### 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

### 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

### 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a | b)   # or a.union(b)

{1, 2, 3, 4, 5}

### 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a & b)   # or a.intersection(b)

{2, 3}

### 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {"name": "John", "age": 25, "city": "Delhi"}
print(person)

{'name': 'John', 'age': 25, 'city': 'Delhi'}

### 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

### 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

### 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
removed = d.pop('age')
print(d, '| removed age =', removed)

{'name': 'Bob', 'city': 'New York'} | removed age = 22

### 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

### 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
lst = [1, 2, 3]
tup = ('x', 'y', 'z')
dic = {'a': 1, 'b': 2}
print(lst)
print(tup)
print(dic)

[1, 2, 3]
('x', 'y', 'z')
{'a': 1, 'b': 2}

### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [ ]:
import random
random.seed(42)  # deterministic
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[4, 15, 36, 82, 95]

### 28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
lst = ["alpha", "beta", "gamma", "delta", "epsilon"]
print(lst[3])  # third index => 4th element

delta

### 29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
a = {'x': 1, 'y': 2}
b = {'y': 20, 'z': 3}
combined = {**a, **b}  # b's values override on key conflicts
print(combined)

{'x': 1, 'y': 20, 'z': 3}

### 30. Write a code to convert a list of strings into a set.

In [ ]:
names = ["Asha", "Rahul", "Asha", "Meera"]
names_set = set(names)
print(names_set)

{'Rahul', 'Asha', 'Meera'}